<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ServicesApp">
    <head>
        <title>Registration</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="angular.min.js"></script>
        <script src="SaveRegistrationData.js"></script>
        <style>
        table{
            border: 5px #000 solid;
            caption-side: top;
            background-color: white;
            align-self: center;
            position: absolute;
            top: 20%;
            width: fit-content;
            right: 50%;
        }
    </style>
    </head>
    <body ng-controller="RegistrationController">
        <table>
            <tr>
                <td></td>
                <td style="color: black"><b>User Registration </b></td>
            </tr>
            <tr>
                <td>
                    FirstName: 
                </td>
                <td>
                    <input type="text" ng-model="FirstName" id="firstname" placeholder="Enter first name" />
                </td>
            </tr>
            <tr>
                <td>
                    LastName: 
                </td>
                <td>
                    <input type="text" ng-model="LastName" id="Lastname" placeholder="Enter last name" />
                </td>
            </tr>
            <tr>
                <td>
                    EmailId: 
                </td>
                <td>
                    <input type="text" ng-model="EmailId" id="Username" placeholder="Enter email" />
                </td>
            </tr>
            <tr>
                <td>
                    UserName: 
                </td>
                <td>
                    <input type="text" ng-model="UserName" id="Username" placeholder="Enter user name" />
                </td>
            </tr>
            <tr>
                <td>
                    Password:
                </td>
                <td>
                    <input type="password" ng-model="Password" id="password" placeholder="Enter password" />
                </td>
            </tr>
            <tr>
                <td>
                Phone: 
                </td>
                <td>
                    <input type="text" ng-model="PhoneNumber" id="Phonenumber" placeholder="Enter phone number" />
                </td>
            </tr>
            <tr>
                <td>
                    <button ng-click="saveRegistrationData(FirstName,LastName,EmailId,UserName,Password,PhoneNumber)" value="Register">Register</button>
                </td>
                <td></td>
            </tr>
        </table>
    </body>
</html>
